---
- name: Install pacman app groups
  pacman:
    name: "{{ lookup('vars', 'packages')[item]['pacman'] }}"
  loop: "{{ host.app_groups }}"
  when: "lookup('vars', 'packages')[item]['pacman']"

- name: Install AUR app groups
  kewlfft.aur.aur:
    use: yay
    name: "{{ lookup('vars', 'packages')[item]['aur'] }}"
  loop: "{{ host.app_groups }}"
  when: "lookup('vars', 'packages')[item]['aur']"
  become: true
  become_user: aur_builder
