diff:
  pager: delta
merge:
  command: nvim
  args: ["-d", "{% raw %}{{ .Destination }}{% endraw %}", "{% raw %}{{ .Source }}{% endraw %}", "{% raw %}{{ .Target }}{% endraw %}"]

data:
  user:
    email: "{{ user.email }}"
  machine:
    id: "{{ host.id }}"
    network:
      wlan: "{{ host.network.wlan }}"
      eth: "{{ host.network.eth }}"
      dock: "{{ host.network.dock }}"
    displays:
      - description: "California Institute of Technology 0x1402"
        output: "eDP-1"
        resolution: "2880x1800"
        position: "0x325"
        scale: "1.5"
        transform: 0
        id_by_output: false
      - description: "Dell Inc. DELL P2421D FJWHGC3"
        output: "DP-6"
        resolution: "2560x1440"
        position: "1920x325"
        scale: "1.0"
        transform: 0
        id_by_output: false
      - description: "Dell Inc. DELL P2421D CGSHL93"
        output: "DP-7"
        resolution: "2560x1440"
        position: "4480x0"
        scale: "1.0"
        transform: 3
        id_by_output: false
  settings:
    gui: true
    timewall: false
    autodim:
      enable: true
      time: 5
    autoblank:
      enable: true
      time: 15
    autolock:
      enable: false
      time: 30
    dirs:
      code: "/home/{{ user.name }}/Kod"
      screenshots: "/home/{{ user.name }}/Obrazy/Zrzuty ekranu"
      wallpapers: "/home/{{ user.name }}/Obrazy/Tapety"
    theme:
      bg: "#1e222a"
      lightbg: "#373b43"
      fg: "#abb2bf"
      darkfg: "#5a616e"
      accent1: "#e5c07b"
      accent2: "#61afef"
      accent3: "#98c379"
      accent4: "#e06c75"
